@inject NavigationManager Navigation

<nav class="navbar navbar-expand-lg navbar-dark retro-navbar">
    <div class="container-fluid">
        <a class="navbar-brand retro-brand" href="/">PoFastType</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link retro-nav-link" href="/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link retro-nav-link" href="/stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link retro-nav-link" href="/heatmap">🔥 Heatmap</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
